$icomoon-font-family: "pro-spa" !default;
$icomoon-font-path: "~@/assets/fonts/icons" !default;

$icon-stroke: "\e909";
$icon-down: "\e907";
$icon-burger: "\e900";
$icon-check: "\e901";
$icon-close: "\e902";
$icon-filter: "\e903";
$icon-filter-mobile: "\e904";
$icon-like: "\e905";
$icon-notification: "\e906";
$icon-Union: "\e908";

