@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/Roboto-Regular/Roboto-Regular.woff2') format("truetype"),
  url('~@/assets/fonts/Roboto-Regular/Roboto-Regular.woff') format("truetype"),
  url('~@/assets/fonts/Roboto-Regular/Roboto-Regular.ttf') format("truetype"),
  url('~@/assets/fonts/Roboto-Regular/Roboto-Regular.eot') format("truetype");

}
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('~@/assets/fonts/Roboto-Bold/Roboto-Bold.woff2') format("truetype"),
  url('~@/assets/fonts/Roboto-Bold/Roboto-Bold.woff') format("truetype"),
  url('~@/assets/fonts/Roboto-Bold/Roboto-Bold.ttf') format("truetype"),
  url('~@/assets/fonts/Roboto-Bold/Roboto-Bold.eot') format("truetype");

}

@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/Gilroy-Regular/Gilroy-Regular.woff2') format("truetype"),
  url('~@/assets/fonts/Gilroy-Regular/Gilroy-Regular.woff') format("truetype"),
  url('~@/assets/fonts/Gilroy-Regular/Gilroy-Regular.ttf') format("truetype"),
  url('~@/assets/fonts/Gilroy-Regular/Gilroy-Regular.eot') format("truetype");

}
@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('~@/assets/fonts/Gilroy-Bold/Gilroy-Bold.woff2') format("truetype"),
  url('~@/assets/fonts/Gilroy-Bold/Gilroy-Bold.woff') format("truetype"),
  url('~@/assets/fonts/Gilroy-Bold/Gilroy-Bold.ttf') format("truetype"),
  url('~@/assets/fonts/Gilroy-Bold/Gilroy-Bold.eot') format("truetype");

}
@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: 800;
  src: url('~@/assets/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff2') format("truetype"),
  url('~@/assets/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff') format("truetype"),
  url('~@/assets/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf') format("truetype"),
  url('~@/assets/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.eot') format("truetype");

}
@font-face {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('~@/assets/fonts/Gilroy-Medium/Gilroy-Medium.woff2') format("truetype"),
  url('~@/assets/fonts/Gilroy-Medium/Gilroy-Medium.woff') format("truetype"),
  url('~@/assets/fonts/Gilroy-Medium/Gilroy-Medium.ttf') format("truetype"),
  url('~@/assets/fonts/Gilroy-Medium/Gilroy-Medium.eot') format("truetype");

}
@font-face {
  font-family: 'Gilroy-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('~@/assets/fonts/Gilroy-SemiBold/Gilroy-SemiBold.woff2') format("truetype"),
  url('~@/assets/fonts/Gilroy-SemiBold/Gilroy-SemiBold.woff') format("truetype"),
  url('~@/assets/fonts/Gilroy-SemiBold/Gilroy-SemiBold.ttf') format("truetype"),
  url('~@/assets/fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot') format("truetype");

}

