// colors

$primary-color: #333333;
$secondary-color: #F2F4F7;
$border-color: #CFD4DA;
$active-color: #2168DE;
$link-color: #F4F7FD;
$active-border-color: #BCD2F5;
$body-color: #E5E5E5;


// font-size

$font-lg: 36px;
$font-primary: 16px;
$font-secondary: 14px;
$font-alternative: 15px;
$font-sm: 12px;


// line-height

$line-lg: 40px;
$line-primary: 24px;
$line-secondary: 32px;
$line-alternative: 16px;


// border-radius

$border-radius-primary: 10px;
$border-radius-secondary: 5px;






